@model FinalCaimanProject.VM.AllProjets

<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in ViewBag.Alls)
                {

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <a href="@Url.Action("ProjetDetail","Projet", new { id= item.ProjetId})">
                            <div class="simple-card">
                                <div class="simple-card__content">
                                    <span>En cours depuis le @item.ProjetDateDebut.ToString("dd MMM yyyy")</span>
                                    <h2 class="mt-2">@item.ProjetName</h2>
                                    <p>
                                        @item.ProjetDescription
                                    </p>
                                    <div class="members">
                                        <span>membres</span>

                                        <ul class="mb-0 mt-3">
                                            @{ var co = 0;}
                                            @foreach (var mbr in item.MembersDTOs)
                                            {
                                                if(co < 3)
                                                {

                                                    <li>
                                                        <div style="border:1px solid @foreach (var specia in Model.Specialites)
                                                        {
                                                            if (mbr.SpecialiteId == specia.SpecialiteId)
                                                            {
                                                                @specia.SpecialiteColor
                                                            }
                                                        }">
                                                            @if (mbr.MemberImageName != null)
                                                            {
                                                                <img src="/Fichier/@mbr.MemberImageName" class="rounduser" alt="@mbr.MemberName" title="@mbr.MemberName">
                                                            }
                                                            else
                                                            {
                                                                <img src="/Content/img/user.png" class="rounduser" alt="@mbr.MemberName" title="@mbr.MemberName">
                                                            }

                                                        </div>
                                                    </li>
                                                    co++;
                                                }

                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="simple-card__progress mt-4">
                                    <div class="progress">
                                        <div class="progression" style="width: @item.ProjetProgressBar%;"></div>
                                    </div>
                                    <span>@item.ProjetProgressBar%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <a href="@Url.Action("Index", "NewProjet")">
                        <div class="addProject">
                            <img src="~/Content/icons/add.svg" alt="icon">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>